.feed-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-buttons-wrraper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
}

.projects-buttons-wrraper button {
    margin: 0 2px 0 2px;
    padding: 5px;
}