.project-info-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    width: 40%;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-name {
    margin-left: 200px;
}

.exit-button {
    margin-left: 180px;
}

.buttons-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comments-list {
    height: 500px;
    width: 40%;
    overflow: scroll;
}