.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-name {
    margin-left: 200px;
}

.exit-button {
    margin-left: 180px;
}

.buttons-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comments-list {
    height: 500px;
    overflow: scroll;
}